body{
  text-align: center;
  /* font-size: 1.25rem; */
  color:white;
  overflow-x: hidden;
}

.description{
  padding-top:10%;
  color:black;
}
.imgstyle{
  height:90%;
  width:80%;
  border:10px solid blanchedalmond;
  box-sizing: border-box;
}
#home{
   height:800px;
  background-color:black;
  background-image: url("images/fabric_plaid.png");
  padding-top: 20%;
  color:black;
}
.displayName{
  font-size: 10vmin;
}
#about{
  background-image: url("images/sakura.png");
}
.allLinks{
border-radius: 50%;
border:3px solid grey;
color:grey;
}
.fab, .fas{
color: black;
}

#applications{
  background-color:lightgrey;
  /* background-image:url("images/retina_wood_@2X.png") */
}

#skills{
  background-color:darkolivegreen;
}
#tools{
  background-image: url("images/circle-blues.png");
}

.imgSize{
  height:40%;
  padding:3%;
}
.card-footer{
  height:12%;
}
.card-body{
  height:30%;
}
.card{
box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.35);
border: none;
}
.card:hover{
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  cursor: pointer;
}
.appLinks{
  color:grey;
  border:2px solid lightgrey;
  padding:5%;
  border-radius:12%;
}
.appLinks:hover{
  color:grey;
}

.nav-item:hover{
  color:grey;
}

.skillsImg{
  font-size: 20vmin;
  /* -webkit-transition-property: font-size;
  -webkit-transition-duration: 1s;
  transition-property: font-size;
  transition-duration: 1s; */
}
.skillsImg:hover{
  /* font-size: 21vmin; */
}
.meistertask{
  /* width:100px;
  height:155px; */
  width:50%;
  height:50%;
  text-align: center;
}

#contact{
  background-color: lightgrey;
  background-image: url("images/fabric_plaid.png");
}
.email{
  color:black;
}
