body{
  text-align: center;
  /* font-size: 1.25rem; */
  color:white;
  overflow-x: hidden;
}

/* nav{
  height:12%;
} */

.description{
  padding-top: 10%;
  color:black;
}
.imgstyle{
  height:90%;
  width:80%;
  border:10px solid blanchedalmond;
  box-sizing: border-box;
}
#home{
   height:800px;
  background-color:lightsalmon;
  padding-top: 20%;
}
.displayName{
  font-size: 10vmin;
}

.allLinks{
border-radius: 50%;
border:2px solid grey;
color:grey;
 opacity: 0.7;
}
.fab, .fas{
  color:grey;
}
